.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
  background-size: cover;
  background-position-x: center;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  --accent-color: #ff0070;
  --title-color: #000028;
  --border-color: #ff0070;
  --background-color: #000028;
  --outline-color: #ff0070;
  --shadow-color: #ff0070;
  --text-color: #f1b2ce;
  --section-title-color: #ff0070;
  --background-title-color: #ff0070;
  --heder-title-color: #db00ff;
  --main-font-family: "IBM Plex mono";

  .rec {
    display: flex;
  }

  .header__theme-menu-button:hover {
    outline: 1px solid rgba(255, 0, 112, 0.4);
  }
}
