/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
  --accent-color: #353430;
  --title-color: #353430;
  --border-color: #353430;
  --outline-color: #353430;
  --shadow-color: #ff8dcb;
  --text-color: #353430;
  --section-title-color: #353430;
  --background-title-color: #ff8dcb;
  --heder-title-color: #ffc2e6;
  --main-font-family: "IBM Plex mono";

  .rec {
    display: none;
  }

  .header__theme-menu-button:hover {
    outline: 1px solid rgba(50, 49, 45, 0.4);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #353430;
    --title-color: #353430;
    --border-color: #353430;
    --outline-color: #353430;
    --shadow-color: #ff8dcb;
    --text-color: #353430;
    --section-title-color: #353430;
    --background-title-color: #ff8dcb;
    --heder-title-color: #ffc2e6;
    --main-font-family: "IBM Plex mono";
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }
  
  .rec {
    display: none;
  }

  .header__theme-menu-button:hover {
    outline: 1px solid rgba(50, 49, 45, 0.4);
  }
}
